.MuiFormControl-root{
    margin: 2rem;
}
.root{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.paper{
    display: flex;
    flex-direction: column;
    align-items: center;
}