.paper{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 0%;
}

.grid-container {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
}
  
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-items: center;
}